* {
  box-sizing: border-box;
}

html,
body {
  background: #0a0a1a;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #0a0a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
